@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400;1,500;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  /* overflow-x: hidden; */
}

:root {
  --theme-color: #ff5c41;
  --faded-color: #ff5e417c;
  --pure-white: #fff;
  --faded-white: #f5f6f9;
  --faded2-white: #cccccc;
  --pure-black: #000;
  --faded-black: #333333;
  --faded-black2: #666666;
  --theme-default1: #ff5c41;
  --theme-default2: #c44aaa;
  --theme-default3: #ff5c41;
  --theme-default4: #ff8c41;
  --theme-gradient1: linear-gradient(
    to right,
    var(--theme-default3) 0%,
    var(--theme-default4) 51%,
    var(--theme-default3) 100%
  );
  --theme-gradient2: linear-gradient(
    to right,
    var(--theme-default1) 0%,
    var(--theme-default2) 51%,
    var(--theme-default4) 100%
  );
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1240px;
  }
}

a {
  text-decoration: none !important;
}

.avatar {
  width: 40px;
  border-radius: 8px;
}

img {
  object-fit: cover;
}
